@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  color: #263138;
}
.checkbtn {
  font-size: 30px;
}

header {

  background-color: #ff9a6c;
}

header nav {
  background-color: #ff9a6c;
  height: 4rem;
  width: 100%;
}
strong.logo {
  color: white;
  font-size: 2rem;
  line-height: 4rem;
  padding: 0 100px;
  font-weight: 900;
}
header nav ul {
  float: right;
  margin-right: 20px;
}
header nav ul li {
  display: inline-block;
  line-height: 4rem;
}

header nav ul li a {
  font-weight: bold;
  color: white;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

header nav a.active,
header nav a:hover {
  background-color: #ff725e;
  transition: 0.5s;
}
.checkbtn {
  font-size: 2rem;
  color: white;
  float: right;
  line-height: 4rem;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

img {
  max-width: 45%;
}
#inicio {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 5rem 8rem 5rem;
  position: relative;
}
#clinica,
#duvida {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 4rem 5rem;
}

#farmacia {
  padding: 4rem 5rem;
  text-align: center;
}
#farmacia img {
  margin: 0.5em auto;
}
#farmacia p {
  max-width: 90%;
  margin: 0 auto;
}

.container-button {
  display: flex;
  justify-content: center;
  gap: 2%;
  width: 100%;
}
h1,
h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1rem;
}

.p {
  text-align: justify;
  line-height: 150%;
  margin-bottom: 2rem;
}

.button {
  background-color: #ff725e;
  padding: 1em 2em;
  border-radius: 0.5em;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.button-tranparent {
  background-color: transparent;
  color: #ff725e;
  padding: 1em 2em;
  border-radius: 0.5em;
  text-align: center;
  border: 1px solid #ff725e;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  z-index: -1;
}

#clinica li {
  margin: 1em 0 0 2em;
}
#size {
  width: 450px;
}
.duvida {
  position: relative;
}

.duvida h3 {
  padding: 1.5rem;
  border: 3px solid #ff725e;
  border-radius: 0.4rem;
  cursor: pointer;
}
.duvida img {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
}

.duvida .p {
  border-right: 1px solid #ff9a6c;
  border-bottom: 1px solid #ff9a6c;
  border-left: 1px solid #ff9a6c;
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: -0.5rem;
  padding: 0 1.5rem;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 0.9s;
}
.duvida.ativa .p {
  height: fit-content;
  opacity: 1;
  padding: 1.5rem;
}

footer {
  justify-content: center;
  background-color: #ff9b6c5c;
  display: flex;
  gap: 5rem;
  padding: 4rem 5rem;
}

.footer img,
footer .title {
  font-weight: bolder;
  margin-bottom: 1.5rem;
  display: block;
}

footer nav a {
  color: #263138;
  display: block;
  margin-bottom: 1rem;
}

footer p {
  margin-bottom: 1rem;
}
footer p a {
  color: #ff725e;
}

footer > :first-child {
  width: 40%;
}
footer > :first-child p {
  margin-top: 1rem;
}

#copyright {
  background-color: #ff725e;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
}
#copyright a {
  color: #fff;
  font-weight: bolder;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #inicio,
  #clinica,
  #duvida,
  #farmacia {
    flex-direction: column;
    padding: 2.4rem 4rem;
  }
  img#size,
  #inicio img,
  #clinica img,
  #farmacia img {
    margin: 0;
  }
  .absolute {
    bottom: 2rem;
  }

  strong.logo {
    font-size: 1.9rem;
    padding-left: 50px;
  }
  header nav ul li a {
    font-size: 1rem;
  }
  .checkbtn {
    display: block;
  }
  header ul.link_nav {
    z-index: 2;
    position: absolute;
    width: 40%;
    margin: 0;
    padding: 0;
    background-color: #ff725e;
    right:-1.2rem;
    top: -100%;
    transition: all 0.5s;
    text-align: center;
  }
  header nav ul li {
    
    display: block;
  }
  header nav ul li a {
    
    font-size: 1.2rem;
  }
  header nav a:hover,
  header nav a.active {
    background: none;
    color: #263138;
  }
  .checkbtn {
    display: block;
  }

  nav a:hover,
  nav a.active {
    background: none;
    color: #263138;
  }
  #check:checked ~ ul {
    top: 4rem;
  }
}
@media screen and (max-width: 600px) {
  #inicio,
  #clinica,
  #duvida,
  #farmacia,
  footer {
    padding: 1rem 2.5rem;
  }
  .absolute {
    bottom: 0.88rem;
    width: 100%;
  }
  h3 {
    font-size: small;
  }
  .duvida img {
    top: 1.5rem;
    right: 0.88rem;
  }
  img#size,
  #inicio img:nth-child,
  #clinica img,
  #farmacia img {
    max-width: 70%;
  }
  footer img {
    width: 50%;
  }
  footer {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer > :first-child {
    width: 90%;
    padding: 1rem;
  }

  footer div:nth-child(n + 2) {
    width: 100%;
    border: 3px dotted #ff9a6c;
  }

  footer strong,
  footer p,
  footer nav a {
    margin: 0 0 1rem;
  }
  footer strong {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 480px) {
  h1,
  h2 {
    font-size: 1.5rem;
  }
  #inicio a.button,
  a.button-tranparent {
    padding: 1em;
    font-size: 0.9em;
  }
  img#size,
  #inicio img:nth-child(1),
  #clinica img,
  #farmacia img {
    max-width: 100%;
  }
  .duvida img {
    top: 1.9rem;
    right: 0.7rem;
  }
}

footer#copyRight {
  position: absolute;
  bottom: 0;
  background-color: #fafafa;
  color: #0e0e0e;
  font-size: 85%;
  width: 100%;
  font-style: none;
  display: flex;
  padding: 1rem 10%;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
footer#copyRight a {
  text-decoration: none;
  font-weight: bold;
}